{{ define "getBooks.tmpl" }}
<html>

    <body>
        <nav>
            <a href="/">Add a book</a>
            <a href="/books">Books</a>
        </nav>

        <h1>{{ .title }}</h1>

        <ul>
            {{ range .books }}
                <li>{{.Title}}</li>
            {{ end }}
        </ul>
    </body>
</html>
{{ end }}
